.likeButton {
  border: 1px solid black;
  padding: 10px 25px;
  background: rgb(19, 146, 225);
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.likeButton:hover {
  background-color: rgb(12, 109, 169);
}

.likeButton:active {
  background-color: rgb(19, 146, 225);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
